.header-bar {
  font-family: 'Ubuntu', sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  background-color: rgb(226, 185, 231);
  border-bottom: 2px solid black;
}

.logout-section {
  display: flex;
  flex-direction: row;
  padding: 10px;
}

.logout-button {
  font-family: 'Ubuntu', sans-serif;
}

.logo {
  font-family: 'Ubuntu', sans-serif;
  font-size: 40px;
  font-weight: 700;
}

.header-username, .header-name {
  font-size: 18px;
  padding: 10px;
  margin-right: 20px;
}

@media only screen and (max-width: 850px) {

  .header-bar, .logout-section {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 0;
    width: 100%;
  }
  .logout-section {
    height: 42px;
  }
  .logout-button {
    margin-top: 5px;
  }
  .logo {
    margin-bottom: 0;
  }
  .header-username, .header-name {
    display: none;
    font-size: 18px;
    padding: 10px;
    margin-right: 0px;
  }
}